@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Cormorant+Garamond:ital,wght@1,400;1,600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Cormorant Garamond", serif;
  
  --color-brand-yellow: #feefb3;
  --color-brand-green: #023d36;
}

@layer base {
  body {
    @apply bg-white text-black font-sans antialiased;
  }
}

.font-italic-serif {
  font-family: var(--font-serif);
  font-style: italic;
}
